@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

$theme-colors: ();
$font-family-base: 'Roboto', sans-serif;
$body-bg: white;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: true;
$bv-enable-table-stacked: false;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
