@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

$theme-colors: (
  'primary': #0b233f,
  'secondary': #7898ad,
  'tertiary': #e8513e,
  'quaternary': #eee23e
);
$font-family-base: 'Roboto', sans-serif;
$body-bg: white;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: true;
$bv-enable-table-stacked: false;

.intro-heading {
  font-size: 16pt;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 15px;
}
.intro-list li {
  margin-bottom: 15px;
}
.intro-paragraph {
  font-size: 12pt;
  font-weight: 300;
}
.intro-bold {
  font-weight: 700;
}
.cover-divider {
  border-top: 4px double #8D9198;
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
